@model IEnumerable<MVC_CORE_EF_1.Models.Shipping>

@{
    ViewData["Title"] = "searchShipping";
}

<h1>searchShipping</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataSpedizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PesoSpedizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndirizzoDestinatario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NominativoDestinatario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoSpedizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataConsegna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PesoSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndirizzoDestinatario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NominativoDestinatario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsegna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Nominativo)
            </td>
            <td>
             <a asp-action="SearchShippingDetails" asp-route-id="@item.IdSpedizione">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
